@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* whole application color combination */
:root {
    --blue: #5e63b6;
    --darkblue: #27296d;
    --purple: #a393eb;
    --lightpurple: #f5c7f7;
}

/* external font family */
* {
    font-family: "Righteous", sans-serif;
}

body,
html {
    height: 100vh;
    width: 100%;
    background-color: var(--lightpurple);
}

/* logo pic width and height set */
.card {
    width:70px;
    height: 60px;
    /* border: 12px solid var(--darkblue); */
    display: flex;
    border-radius: 50%;
    justify-content: center;
    overflow: hidden;
}

/* logo set */
.pic img {
    width: 110%;
    display: flex;
    height: 101vh;
    object-fit: cover;
    overflow: hidden;
    /* align-items:center ; */
}

/* maine background set  */
.border {
    margin: 3.5em;
    padding: 5px;
    background: var(--lightblue);
    /* border:5px solid var(--purple); */
    border-radius: 8px;
    /* justify-content: center; */
    align-items: center;
}

/* width and height set */
.name {
    color: var(--blue);
    /* padding :8px ; */
    line-height: 1;
}

h2 {
    margin-left: 30px;
    margin-top: 5px;
    text-align: center;
    /* position: relative; */

}

/* gap wali line jo logo ke bad ate ha */
/* .line{
    margin: 0;
    text-decoration:line-through double ;
} */

i {

    color: var(--yellow);

    width: auto;
    font-size: 2rem;
    transition-duration: 0.4s;
    padding-left:35em;
    gap: 0px;

}

i:hover {
    background-color: var(--darkblue);
    color: black;
    padding: 6px 6px;
    text-align: center;
    justify-content: space-around;
    border-radius: 20px;
}

.logo{
    justify-content: space-between;
    align-items: center;
}


/* input area box */
.half-box {
    width: 1110;

    height: 250px;
    /* border: 2px solid var(--darkblue); */
    background: linear-gradient(to right, white 25%, #5e63b6 35%);
    border-radius: 20px;
    position: relative;
}

/* Common circle style */
.circle {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    background: var(--purple);
    backdrop-filter: blur(2px);
    /* animation: duration 4s; */
    /* animation-delay: 1.5s; */
    animation: pulse 2s infinite ease-in-out;

}


/*   har circle ki  positions */
.c1 {
    top: 20px;
    left: 20px;
}

.c2 {
    bottom: 20px;
    right: 30px;
}

.c3 {
    top: 80px;
    right: 80px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}



/* Page ko center karne ke liye */
.container {

    display: flex;
    justify-content: center;
    align-items: center;

}

/* Form width/height */
.todo-form {

    padding-top: 20px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Input styling */
.todo-form input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    /* border: 1px solid gray; */
    /* border-radius: 5px; */
}

/* enter task  Button styling */
.todo-form button {

    width: 100%;
    height: 40px;
    background: var(--darkblue);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    /* cursor: pointer; */
    transition: 0.8s ease;

    /* transition-delay: 1s; */

}

/* hover effect hover pa transition apply hona  */
.todo-form button:hover {
    background: var(--darkblue);
    /* new color on hover */
    border-radius: 30px;
    /* hover par round shape */
    transform: scale(1.05);
    /* thoda enlarge effect */

}
